@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(18, 18, 18),
    rgb(135, 133, 133)
  );
  font-family: "Rowdies", cursive;
}

header {
  background-image: linear-gradient(
    to right,
    rgb(18, 18, 18),
    rgb(135, 133, 133)
  );
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.96);
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
  position: sticky;
  top: 0%;
  z-index: 1;
}
header b {
  font-size: 70px;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 4px rgb(246, 236, 236);
}
header i {
  padding-left: 10px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  width: 100%;
}
.nav {
  background-color: rgba(91, 90, 90, 0.091);
  position: sticky;
  top: 13%;
  height: 81vh;
  width: 20%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 10px black;
  bottom: 0%;
}
.nav button {
  width: 90%;
  height: 9%;
  margin: 7% 0 10% 0;
  border-radius: 20px;
  border: none;
  color: white;
  box-shadow: 0px 0px 10px black;
  border: 1px solid rgba(255, 255, 255, 0.202);
  background-color: transparent;
  display: flex;
  align-items: center;
}
.nav button h1 {
  font-size: 15px;
}
.nav button i {
  margin: 0 20px 0 20px;
  font-size: 20px;
}
.nav button:hover {
  box-shadow: none;
  transition: 0.5s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.083);
}

/* BLOG */

.CreateBlog {
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 35%;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  visibility: hidden;
  position: fixed;
}

.CreateBlog i {
  color: rgb(0, 0, 0);
}
.CreateBlog button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: transparent;
  box-shadow: 0px 0px 10px black;
}
.CreateBlog button:hover {
  box-shadow: none;
}
.CreateBlog input {
  height: 20px;
  width: 350px;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.CreateBlog input::placeholder {
  text-align: center;
}
#file {
  display: none;
}
#imgOfBlog {
  height: 200px;
  width: 100%;
}
/* container blog */

.ContainerOfBlog {
  background-color: aqua;
  height: 300px;
  width: 1000px;
  margin: 40px 40px 10px 40px;
}
